.DS_Store
DerivedData/
*.xcuserstate
xcuserdata/
server/dist/
server/qr-*.html
server/udp-relay
server/__debug_bin*
.vscode
app/dist/
app/build/
app-android/**/build/
app-android/.gradle/
app-android/local.properties
app-android/keystore.properties
